<!-- learning path  -->
<div class="container py-md-5 py-3" id="learn">
  <h3 class="text-center text-head py-md-5 py-3">Choose a learning path</h3>
  <div class="row pt-5">
    <!-- frontend  -->
    <div class="col-lg-6 py-lg-0 pb-3">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="col p-5 frontend">
            <h6>Learning Path</h6>
            <h3>Be a Frontend Developer</h3>
            <p>
              Go from no-code to an in-demand junior web developer, at a
              fraction of the cost of a bootcamp. Start with the front-end by
              learning HTML, CSS, and JavaScript.
            </p>
            <div class="row">
              <div class="col-lg-4 col-6">
                <h6>Duration</h6>
                <h5>3 Weeks</h5>
              </div>
              <div class="col-lg-4 col-6">
                <h6>Projects</h6>
                <h5>5 Weeks</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /frontend  -->
    <!-- backend  -->
    <div class="col-lg-6 py-lg-0 pt-3">
      <div class="row">
        <div class="col-10 mx-auto">
          <div class="col p-5 backend">
            <h6>Learning Path</h6>
            <h3>Be a Backend Developer</h3>
            <p>
              Go from no-code to an in-demand junior web developer, at a
              fraction of the cost of a bootcamp. Start with the front-end by
              learning HTML, CSS, and JavaScript.
            </p>
            <div class="row">
              <div class="col-lg-4 col-6">
                <h6>Duration</h6>
                <h5>3 Weeks</h5>
              </div>
              <div class="col-lg-4 col-6">
                <h6>Projects</h6>
                <h5>5 Weeks</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /backend  -->
  </div>
</div>
<!-- / learning path  -->
<!-- learning path details  -->
<div class="container p-5" id="learn-details">
  <div class="row" id="card">
    <div class="col-md-6">
      <div class="p-md-5 p-4">
        <h6>Learning Path</h6>
        <h3>Be a Backend Developer</h3>
        <p>
          Go from no-code to an in-demand junior web developer, at a fraction of
          the cost of a bootcamp. Start with the front-end by learning HTML,
          CSS, and JavaScript.
        </p>
        <div class="row">
          <div class="col-lg-4 col-6">
            <h6>Duration</h6>
            <h5>3 Weeks</h5>
          </div>
          <div class="col-lg-4 col-6">
            <h6>Projects</h6>
            <h5>5 Weeks</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div class="p-md-5 p-4">
        <h6>What Next</h6>
        <h5>Modern Frontend Development <br />(ReactJs)</h5>
        <h5>Modern Frontend Development <br />(AngularJs)</h5>
        <h5>
          Modern Frontend Development<br />
          (Vue Js)
        </h5>
      </div>
    </div>
  </div>
</div>
<!-- / learning path details  -->
