<!-- What will you learn and build? -->
<div class="container py-md-5 py-2" id="what-we-learn">
  <div class="pb-5 text-center">
    <h3>What will you learn and build?</h3>
  </div>
  <h4 class="my-4">WEEK 1</h4>
  <div class="row p-5 content">
    <!-- row-1  -->
    <div class="row">
      <div class="col-lg-6">
        <h3>Learn HTML & CSS</h3>
        <p>
          Learn to build your very first web pages with this four hour course on
          HTML and CSS. Created by one of the most popular coding instructors on
          YouTube.
        </p>
      </div>
    </div>
    <!-- row -2  -->
    <div class="row py-4">
      <!-- html  -->
      <div class="col-md-4 py-md-0 py-2">
        <h4>HTML Fundamentals</h4>
        <div class="my-3">
          <h6>What is HTML and CSS?</h6>
          <h6>Terminology and syntax</h6>
          <h6>HTML tags</h6>
          <h6>File naming and project setup</h6>
          <h6>Anchors</h6>
          <h6>Attributes</h6>
          <h6>Strong and emphasis</h6>
        </div>
      </div>
      <!-- html  -->
      <!-- css  -->
      <div class="col-md-4 py-md-0 py-2">
        <h4>CSS Fundamentals</h4>
        <div class="my-3">
          <h6>CSS basics</h6>
          <h6>Classes and Ids</h6>
          <h6>Internal & external CSS</h6>
          <h6>The box model</h6>
          <h6>Margin & padding</h6>
          <h6>Lists</h6>
          <h6>Images</h6>
          <h6>Centering elements</h6>
          <h6>Styling your page</h6>
        </div>
      </div>
      <!-- css  -->
      <!-- projects  -->
      <div class="col-md-4 py-md-0 py-2">
        <h4>Projects</h4>
        <div class="my-3">
          <h6>Build your first webpage</h6>
          <h6>Build a product landing page</h6>
          <h6>Build a resume website</h6>
        </div>
      </div>
      <!-- projects  -->
    </div>
  </div>
</div>
<!-- What will you learn and build? -->
