<!-- What will you be able to do?  -->
<div class="container py-md-5 py-3" id="skills-gain">
  <div class="text-center">
    <h3>What will you be able to do?</h3>
    <p>Here are just a few things you’ll be able to do with this skill.</p>
  </div>
  <!-- card-1  -->
  <div class="row py-5 text-center">
    <div class="col-md-4 py-md-0 py-2 d-flex align-items-center">
      <div>
        <div>
          <img src="../../assets/images/dev.svg" alt="" class="dev" />
        </div>
        <br />
        <h4>READ AND WRITE CODE</h4>
        <p>
          Gain a basic understanding of web development languages by building
          real sites from scratch.
        </p>
      </div>
    </div>
    <!-- card-1  -->
    <!-- card-2  -->
    <div class="col-md-4 py-md-0 py-2 d-flex align-items-center">
      <div>
        <div>
          <img src="../../assets/images/fitting.svg" alt="" class="fitting" />
        </div>
        <br />
        <h4>CREATE YOUR OWN DESIGN</h4>
        <p>
          Skip the website builders and design exactly what you want with your
          own layouts, colors, and even animation.
        </p>
      </div>
    </div>
    <!-- card-2  -->
    <!-- card-3  -->
    <div class="col-md-4 py-md-0 py-2 d-flex align-items-center">
      <div>
        <div>
          <img
            src="../../assets/images/moon.svg"
            alt=""
            width="50%"
            class="moon"
          />
        </div>
        <br />
        <h4>LAUNCH YOUR WEBSITE</h4>
        <p>
          Gain a basic understanding of web development languages by building
          real sites from scratch.
        </p>
      </div>
    </div>
    <!-- card-3  -->
  </div>
</div>
<!-- / What will you be able to do?  -->
