<!-- navigation bar -->
<div class="container-fluid py-3" id="navigation">
  <div class="container">
    <nav class="row d-flex menu">
      <div class="logo col-lg-6 col-4 d-flex align-items-center">
        <span><b>Pexel</b>tocode</span>
      </div>

      <div
        class="col-lg-6 col-8 d-md-flex d-none align-items-center justify-content-between"
      >
        <ul
          class="col d-flex align-items-center justify-content-around my-auto menu-container"
        >
          <li>
            <a
              routerLink="#"
              href="http://localhost:4200"
              routerLinkActive="active"
              >Home</a
            >
          </li>

          <li>
            <a routerLink="/learn" href="#learn" routerLinkActive="active"
              >Learn Paths</a
            >
          </li>
          <li>
            <a routerLink="/blog" href="#skills-gain" routerLinkActive="active"
              >Blog</a
            >
          </li>
          <li>
            <a
              routerLink="/course"
              href="#what-we-learn"
              routerLinkActive="active"
              >Courses</a
            >
          </li>
          <li>
            <button class="log py-1 px-3"><a href="">Log In </a></button>
          </li>
          <li>
            <button class="sign py-1 px-3">
              <a href=""><span>Sign Up</span></a>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- / navigation bar -->
